/* AnimatedSocialShare.css */
.animated-card {
  max-width: fit-content;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  backdrop-filter: blur(15px);
  background: transparent;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.02),
    inset 0 0 5px rgba(0, 0, 0, 0.03), 0 5px 5px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}

.animated-card:hover {
  animation: ease-out 5s;
  background: rgba(0, 0, 0, 0.03);
}

.animated-card ul {
  padding: 0.2rem 0.2rem;
  display: flex;
  list-style: none;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}

.animated-card ul li.iso-pro {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.animated-card .svg {
  transition: all 0.3s;
  padding: 0.4rem;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  color: rgb(255, 174, 0); /* Vibrant orange focus color */
  fill: currentColor;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.2),
    inset 0 0 5px rgba(255, 255, 255, 0.3), 0 5px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  display: block;
}

.animated-card .text {
  opacity: 0;
  border-radius: 5px;
  padding: 4px 6px;
  transition: all 0.3s;
  color: rgb(255, 174, 0);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  position: absolute;
  z-index: 9999;
  box-shadow: -5px 0 1px rgba(0, 0, 0, 0.2),
    -10px 0 1px rgba(0, 0, 0, 0.1),
    inset 0 0 10px rgba(255, 255, 255, 0.1),
    inset 0 0 3px rgba(255, 255, 255, 0.2), 0 3px 3px rgba(0, 0, 0, 0.2);
  top: -30px;
  font-size: 11px;
  font-weight: 500;
  pointer-events: none;
  white-space: nowrap;
}

/*isometric prooyection*/
.iso-pro:hover a > .svg {
  transform: translate(6px, -6px);
}

.iso-pro:hover .text {
  opacity: 1;
  transform: translate(10px, -2px) skew(-5deg);
}

.iso-pro span {
  opacity: 0;
  position: absolute;
  color: #1877f2;
  border-color: #1877f2;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.3),
    inset 0 0 5px rgba(255, 255, 255, 0.5), 0 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: all 0.3s;
  height: 32px;
  width: 32px;
  top: 0;
  left: 0;
  z-index: 1;
}

.iso-pro:hover span {
  opacity: 1;
}

.iso-pro:hover span:nth-child(1) {
  opacity: 0.2;
}

.iso-pro:hover span:nth-child(2) {
  opacity: 0.4;
  transform: translate(2px, -2px);
}

.iso-pro:hover span:nth-child(3) {
  opacity: 0.6;
  transform: translate(4px, -4px);
}
